/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@font-face {
	font-family: "Special Elite";
	src: url(/webfonts/SpecialElite.ttf);
}

@font-face {
	font-family: "Pomeranian";
	src: url(/webfonts/Pomeranian.ttf);
}

.special-elite
{
	font-family: "Special Elite";
}

.pomeranian
{
	font-family: "Pomeranian";
}

.courier-new
{
	font-family: "Courier New", Courier, monospace;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* Kits
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* Product
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* Store
/*
/*****************************************************************************/


