/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@font-face {
	font-family: "Special Elite";
	src: url(/webfonts/SpecialElite.ttf);
}

.special-elite
{
	font-family: "Special Elite";
}

.courier-new
{
	font-family: "Courier New", Courier, monospace;
}

body
{
	background-color: black;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* Kits
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* Product
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* Store
/*
/*****************************************************************************/


