---
layout: default
title: Store
---

<div id="store">

    <div class="container-fluid p-3">
        <h2 class="pomeranian text-center mb-0 d-none d-sm-block">Yuzu PCB Kits</h2>
        <h4 class="pomeranian text-center mb-0 d-block d-sm-none">Yuzu PCB Kits</h4>
    </div>
    {% assign pcb_kits = site.kits | where: "type", "PCB" | sort: "order" %}
    {% for kit in pcb_kits %}
    <div class="container-fluid p-3{% cycle 'PCB': ' border-top border-bottom bg-light', '' %}">
        <div class="row p-3">
            <div class="col-sm-8 offset-sm-2">
                <div id="yuzu-{{ kit.kit | downcase }}" class="d-block mx-auto"></div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="container-fluid p-3">
        <h2 class="pomeranian text-center mb-0 d-none d-sm-block">Yuzu P2P Kits</h2>
        <h4 class="pomeranian text-center mb-0 d-block d-sm-none">Yuzu P2P Kits</h4>
    </div>
    {% assign p2p_kits = site.kits | where: "type", "P2P" | sort: "order" %}
    {% for kit in p2p_kits %}
    <div class="container-fluid p-3{% cycle 'P2P': ' border-top border-bottom bg-light', '' %}">
        <div class="row p-3">
            <div class="col-sm-8 offset-sm-2">
                <div id="yuzu-{{ kit.kit | downcase }}" class="d-block mx-auto"></div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
