<footer>
	<div class="bg-light border-top">
		<div class="container p-3">
			<div class="row">
				<div class="col-sm">
					<h2 class="pomeranian mb-0">ユズ・オーディオ</h2>
					<p class="lead mb-0">DIY audio electronics made easy.</p>
					<p class="text-muted mb-0"><small>Copyright 2019 Yuzu Audio Limited</small></p>
				</div>
				<div class="col-sm align-self-center">
					<div class="text-right p-3">
						<span class="fa-stack">
							<a href="https://www.facebook.com/yuzuaudio" class="text-dark" target="_blank">
								<i class="fas fa-square fa-stack-2x"></i>
								<i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
							</a>
						</span>
						<span class="fa-stack">
							<a href="https://www.twitter.com/yuzuaudio" class="text-dark" target="_blank">
								<i class="fas fa-square fa-stack-2x"></i>
								<i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
							</a>
						</span>
						<span class="fa-stack">
							<a href="https://www.instagram.com/yuzuaudio" class="text-dark" target="_blank">
								<i class="fas fa-square fa-stack-2x"></i>
								<i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
							</a>
						</span>
						<span class="fa-stack">
							<a href="mailto:info@yuzuaudio.com" class="text-dark">
								<i class="fas fa-square fa-stack-2x"></i>
								<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
							</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
