<script>
    var client = ShopifyBuy.buildClient({
      domain: 'yuzuaudio.myshopify.com',
      storefrontAccessToken: '9f75e59826fa722c32daba5dc0dc5342',
    });

    var ui = ShopifyBuy.UI.init(client);

    ui.createComponent('cart', {
      options: {
        cart: {
          popup: false,
          text: {
            button: 'Checkout'
          },
          styles: {
            button: {
              'font-family': 'Pomeranian',
              'background-color': 'white',
              ':hover': {
                'background-color': 'lightgray'
              },
              ':focus': {
                'background-color': 'lightgray'
              },
              'color': 'black',
              'border': '3px solid',
              'border-radius': '0'
            },
            title: {
              'font-family': 'Pomeranian'
            }
          }
        },
        lineItem: {
          styles: {
            itemTitle: {
              'font-family': 'Pomeranian',
              'margin-bottom': '5px',
              'text-align': 'right',
              'float': 'right'
            },
            variantTitle: {
              'margin-bottom': '5px'
            }
          }
        },
        toggle: {
          contents: {
            title: true
          },
          text: {
            title: 'Cart'
          },
          order: [
            'title',
            'count',
            'icon'
          ],
          styles: {
            toggle: {
              'background-color': 'white',
              ':hover': {
                'background-color': 'lightgray'
              },
              ':focus': {
                'background-color': 'lightgray'
              },
              'border-radius': '0'
            },
            title: {
              'font-family': 'Pomeranian',
              'color': 'black',
              'margin-bottom': '10px'
            },
            count: {
              'font-family': 'Pomeranian',
              'color': 'black'
            }
          }
        }
      }
    });

    {% if page.title == "Store" %}
    {% assign kits = site.kits | where: "status", "New" | sort: "order" %}
    {% for kit in kits %}
    ui.createComponent('product', {
      id: '{{ kit.shopify }}',
      node: document.getElementById('yuzu-{{ kit.kit | downcase }}'),
      options: {
        product: {
          layout: 'horizontal',
          contents: {
            variantTitle: true
          },
          text: {
            button: 'Add To Cart',
            outOfStock: 'Out Of Stock'
          },
          styles: {
            button: {
              'font-family': 'Pomeranian',
              'background-color': 'white',
              ':hover': {
                'background-color': 'lightgray'
              },
              ':focus': {
                'background-color': 'lightgray'
              },
              'color': 'black',
              'border': '3px solid',
              'border-radius': '0'
            },
            title: {
              'font-family': 'Pomeranian'
            },
            price: {
              'font-family': 'Pomeranian'
            },
            compareAt: {
              'font-family': 'Pomeranian'
            }
          }
        }
      }
    });
    {% endfor %}
    {% endif %}
</script>
