<script>
    var client = ShopifyBuy.buildClient({
      domain: 'yuzuaudio.myshopify.com',
      storefrontAccessToken: '9f75e59826fa722c32daba5dc0dc5342',
    });

    var ui = ShopifyBuy.UI.init(client);

    ui.createComponent('product', {
      id: 3622416515152,
      node: document.getElementById('yuzu-1073'),
      options: {
        product: {
          buttonDestination: 'modal',
          contents: {
            options: false
          },
          text: {
            button: 'Buy Now'
          }
        },
        modalProduct: {
          contents: {
            variantTitle: true,
            button: false,
            buttonWithQuantity: true
          },
          text: {
            button: 'Add to Cart'
          }
        },
        cart: {
          text: {
            button: 'Checkout'
          }
        }
      }
    });

    ui.createComponent('product', {
      id: 3622396559440,
      node: document.getElementById('yuzu-la2a'),
      options: {
        product: {
          buttonDestination: 'modal',
          contents: {
            options: false
          },
          text: {
            button: 'Buy Now'
          }
        },
        modalProduct: {
          contents: {
            variantTitle: true,
            button: false,
            buttonWithQuantity: true
          },
          text: {
            button: 'Add to Cart'
          }
        },
        cart: {
          text: {
            button: 'Checkout'
          }
        }
      }
    });

    ui.createComponent('product', {
      id: 3622321619024,
      node: document.getElementById('yuzu-eqp'),
      options: {
        product: {
          buttonDestination: 'modal',
          contents: {
            options: false
          },
          text: {
            button: 'Buy Now'
          }
        },
        modalProduct: {
          contents: {
            variantTitle: true,
            button: false,
            buttonWithQuantity: true
          },
          text: {
            button: 'Add to Cart'
          }
        },
        cart: {
          text: {
            button: 'Checkout'
          }
        }
      }
    });

    ui.createComponent('product', {
      id: 3622378864720,
      node: document.getElementById('yuzu-meq'),
      options: {
        product: {
          buttonDestination: 'modal',
          contents: {
            options: false
          },
          text: {
            button: 'Buy Now'
          }
        },
        modalProduct: {
          contents: {
            variantTitle: true,
            button: false,
            buttonWithQuantity: true
          },
          text: {
            button: 'Add to Cart'
          }
        },
        cart: {
          text: {
            button: 'Checkout'
          }
        }
      }
    });

    ui.createComponent('product', {
      id: 3622419267664,
      node: document.getElementById('yuzu-u87'),
      options: {
        product: {
          buttonDestination: 'modal',
          contents: {
            options: false
          },
          text: {
            button: 'Buy Now'
          }
        },
        modalProduct: {
          contents: {
            variantTitle: true,
            button: false,
            buttonWithQuantity: true
          },
          text: {
            button: 'Add to Cart'
          }
        },
        cart: {
          text: {
            button: 'Checkout'
          }
        }
      }
    });

    ui.createComponent('product', {
      id: 3622419693648,
      node: document.getElementById('yuzu-u67'),
      options: {
        product: {
          buttonDestination: 'modal',
          contents: {
            options: false
          },
          text: {
            button: 'Buy Now'
          }
        },
        modalProduct: {
          contents: {
            variantTitle: true,
            button: false,
            buttonWithQuantity: true
          },
          text: {
            button: 'Add to Cart'
          }
        },
        cart: {
          text: {
            button: 'Checkout'
          }
        }
      }
    });

    ui.createComponent('product', {
      id: 3622420676688,
      node: document.getElementById('yuzu-u47fet'),
      options: {
        product: {
          buttonDestination: 'modal',
          contents: {
            options: false
          },
          text: {
            button: 'Buy Now'
          }
        },
        modalProduct: {
          contents: {
            variantTitle: true,
            button: false,
            buttonWithQuantity: true
          },
          text: {
            button: 'Add to Cart'
          }
        },
        cart: {
          text: {
            button: 'Checkout'
          }
        }
      }
    });
</script>
