<script>
    var client = ShopifyBuy.buildClient({
      domain: 'yuzu-audio-test-store.myshopify.com',
      storefrontAccessToken: '8bc9df65a6f9df23cc07ca3894ecbca4',
    });

    var ui = ShopifyBuy.UI.init(client);

    ui.createComponent('cart', {
      options: {
        cart: {
          popup: false,
          text: {
            button: 'Checkout'
          },
          styles: {
            button: {
              'background-color': 'gray',
              ':hover': {
                'background-color': 'dimgray'
              },
              ':focus': {
                'background-color': 'dimgray'
              }
            }
          }
        },
        toggle: {
          styles: {
            toggle: {
              'background-color': 'gray',
              ':hover': {
                'background-color': 'dimgray'
              },
              ':focus': {
                'background-color': 'dimgray'
              }
            }
          }
        }
      }
    });

    {% if page.title == "Store" %}
    ui.createComponent('product', {
      id: 3978945888335,
      node: document.getElementById('yuzu-1073'),
      options: {
        product: {
          buttonDestination: 'modal',
          contents: {
            options: false
          },
          text: {
            button: 'Buy Now'
          },
          styles: {
            button: {
              'background-color': 'gray',
              ':hover': {
                'background-color': 'dimgray'
              },
              ':focus': {
                'background-color': 'dimgray'
              }
            }
          }
        },
        modalProduct: {
          contents: {
            variantTitle: true,
            button: false,
            buttonWithQuantity: true
          },
          text: {
            button: 'Add to Cart'
          }
        }
      }
    });

    ui.createComponent('product', {
      id: 3978945724495,
      node: document.getElementById('yuzu-la2a'),
      options: {
        product: {
          buttonDestination: 'modal',
          contents: {
            options: false
          },
          text: {
            button: 'Buy Now'
          },
          styles: {
            button: {
              'background-color': 'gray',
              ':hover': {
                'background-color': 'dimgray'
              },
              ':focus': {
                'background-color': 'dimgray'
              }
            }
          }
        },
        modalProduct: {
          contents: {
            variantTitle: true,
            button: false,
            buttonWithQuantity: true
          },
          text: {
            button: 'Add to Cart'
          }
        }
      }
    });

    ui.createComponent('product', {
      id: 3978945527887,
      node: document.getElementById('yuzu-eqp'),
      options: {
        product: {
          buttonDestination: 'modal',
          contents: {
            options: false
          },
          text: {
            button: 'Buy Now'
          },
          styles: {
            button: {
              'background-color': 'gray',
              ':hover': {
                'background-color': 'dimgray'
              },
              ':focus': {
                'background-color': 'dimgray'
              }
            }
          }
        },
        modalProduct: {
          contents: {
            variantTitle: true,
            button: false,
            buttonWithQuantity: true
          },
          text: {
            button: 'Add to Cart'
          }
        }
      }
    });

    ui.createComponent('product', {
      id: 3978945626191,
      node: document.getElementById('yuzu-meq'),
      options: {
        product: {
          buttonDestination: 'modal',
          contents: {
            options: false
          },
          text: {
            button: 'Buy Now'
          },
          styles: {
            button: {
              'background-color': 'gray',
              ':hover': {
                'background-color': 'dimgray'
              },
              ':focus': {
                'background-color': 'dimgray'
              }
            }
          }
        },
        modalProduct: {
          contents: {
            variantTitle: true,
            button: false,
            buttonWithQuantity: true
          },
          text: {
            button: 'Add to Cart'
          }
        }
      }
    });

    ui.createComponent('product', {
      id: 3978945921103,
      node: document.getElementById('yuzu-u87'),
      options: {
        product: {
          buttonDestination: 'modal',
          contents: {
            options: false
          },
          text: {
            button: 'Buy Now'
          },
          styles: {
            button: {
              'background-color': 'gray',
              ':hover': {
                'background-color': 'dimgray'
              },
              ':focus': {
                'background-color': 'dimgray'
              }
            }
          }
        },
        modalProduct: {
          contents: {
            variantTitle: true,
            button: false,
            buttonWithQuantity: true
          },
          text: {
            button: 'Add to Cart'
          }
        }
      }
    });

    ui.createComponent('product', {
      id: 3978946052175,
      node: document.getElementById('yuzu-u67'),
      options: {
        product: {
          buttonDestination: 'modal',
          contents: {
            options: false
          },
          text: {
            button: 'Buy Now'
          },
          styles: {
            button: {
              'background-color': 'gray',
              ':hover': {
                'background-color': 'dimgray'
              },
              ':focus': {
                'background-color': 'dimgray'
              }
            }
          }
        },
        modalProduct: {
          contents: {
            variantTitle: true,
            button: false,
            buttonWithQuantity: true
          },
          text: {
            button: 'Add to Cart'
          }
        }
      }
    });

    ui.createComponent('product', {
      id: 3978946150479,
      node: document.getElementById('yuzu-u47fet'),
      options: {
        product: {
          buttonDestination: 'modal',
          contents: {
            options: false
          },
          text: {
            button: 'Buy Now'
          },
          styles: {
            button: {
              'background-color': 'gray',
              ':hover': {
                'background-color': 'dimgray'
              },
              ':focus': {
                'background-color': 'dimgray'
              }
            }
          }
        },
        modalProduct: {
          contents: {
            variantTitle: true,
            button: false,
            buttonWithQuantity: true
          },
          text: {
            button: 'Add to Cart'
          }
        }
      }
    });
    {% endif %}
</script>
