---
layout: default
---

<div id="product">
	
    <div class="container-fluid p-3">
        <div class="row p-3">
            <div class="col-sm-3 offset-sm-2">
                <img src="/img/{{ page.img }}" class="img-fluid d-block mx-auto mb-3">
                <p class="pomeranian text-center">
                    {% if page.price == page.sale %}
                    <span>From £{{ page.price }}</span>
                    {% else %}
                    <span>From <s>£{{ page.price }}</s><br>Now £{{ page.sale }}</span>
                    {% endif %}
                </p>
            </div>
            <div class="col-sm-5">
                <h5 class="pomeranian mb-3">{{ page.name }}</h5>
                <p class="mb-2">
                    <span class="badge badge-pill badge-dark p-2 mb-2 font-weight-normal">{{ page.level }}</span>
                    <span class="badge badge-pill badge-dark p-2 mb-2 font-weight-normal">{{ page.type }}</span>
                    {% for tag in page.tags %}
                    <span class="badge badge-pill badge-dark p-2 mb-2 font-weight-normal">{{ tag }}</span>
                    {% endfor %}
                    <span class="badge badge-pill badge-dark p-2 mb-2 font-weight-normal">{{ page.status }}</span>
                </p>
                <div class="font-weight-light text-justify">{{ page.content | markdownify }}</div>
                <a class="btn btn-light border-dark btn-border rounded-0 mb-2" href="/store" role="button">
                    <div class="pomeranian d-none d-sm-block">
                        <div class="text-swap overflow-hidden text-center">
                            <span class="text-swap-content d-block">Add To Cart</span>
                            <span class="d-block">カートに入れる</span>
                        </div>
                    </div>
                    <div class="pomeranian d-block d-sm-none">Add To Cart</div>
                </a>
                <a class="btn btn-light border-dark btn-border rounded-0 mb-2" href="/store" role="button">
                    <div class="pomeranian d-none d-sm-block">
                        <div class="text-swap overflow-hidden text-center">
                            <span class="text-swap-content d-block">Buy Now</span>
                            <span class="d-block">注文する</span>
                        </div>
                    </div>
                    <div class="pomeranian d-block d-sm-none">Buy Now</div>
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid p-3 border-top border-bottom bg-light">
        <div class="row p-3">
            <div class="col-sm-3">
                <img src="/img/{{ page.img }}" class="img-fluid d-block mx-auto mb-3">
            </div>
            <div class="col-sm-5 offset-sm-2 order-sm-first">
                <h5 class="pomeranian mb-3">Specifications</h5>
                <div class="font-weight-light">
                    {% assign spec = site.specs | where: "kit", page.kit | first %}
                    {{ spec.content | markdownify }}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-3">
        <div class="row p-3">
            <div class="col-sm-3 offset-sm-2">
                <img src="/img/{{ page.img }}" class="img-fluid d-block mx-auto mb-3">
            </div>
            <div class="col-sm-5">
                <h5 class="pomeranian mb-3">Box Contents</h5>
                <div class="font-weight-light">
                    {% assign bom = site.boms | where: "kit", page.kit | first %}
                    {{ bom.content | markdownify }}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-3 border-top border-bottom bg-light">
        <div class="row p-3">
            <div class="col-sm-3">
                <img src="/img/{{ page.img }}" class="img-fluid d-block mx-auto mb-3">
            </div>
            <div class="col-sm-5 offset-sm-2 order-sm-first">
                <h5 class="pomeranian mb-3">Kit Options</h5>
                <div class="font-weight-light">
                    <dl>
                        {% assign options = site.parts | where: "gear", page.kit | sort: "type" %}
                        {% assign types = options | map: "type" | uniq %}
                        {% for type in types %}
                        <dt>{{ type }}:</dt>
                        <dd>
                            <ul>
                                {% assign parts = options | where: "type", type | sort: "role" %}
                                {% for part in parts %}
                                {% assign partner = site.manufacturers | where: "short", part.manufacturer | first %}
                                <li>
                                    {% if part.status == 'Available' %}
                                    <a href="{{ partner.url }}" class="text-dark">{{ part.manufacturer }} - {{ part.name }}</a>
                                    {% else %}
                                    {{ part.manufacturer }} - {{ part.name }} (Coming Soon)
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </dd>
                        {% endfor %}
                        <dt>Assembly:</dt>
                        <dd>
                            <ul>
                                <li>DIY Kit</li>
                                <li>Pre-Built (+£{{ page.assembly }})</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-3">
        <div class="row p-3">
            <div class="col-sm-3 offset-sm-2">
                <img src="/img/{{ page.img }}" class="img-fluid d-block mx-auto mb-3">
            </div>
            <div class="col-sm-5">
                <h5 class="pomeranian mb-3">Resources</h5>
                <div class="font-weight-light">
                    <dl>
                        {% assign links = site.data.links[page.kit] %}
                        <dt>Build Guide:</dt>
                        <dd>
                            <ul>
                                <li>
                                    {% if links.guide != '#' %}
                                    <a href="{{ site.s3url }}/guides/{{ links.guide }}" target="_blank" class="text-dark">Download PDF</a>
                                    {% else %}
                                    Download PDF (Coming Soon)
                                    {% endif %}
                                </li>
                            </ul>
                        </dd>
                        <dt>Circuit Diagram:</dt>
                        <dd>
                            <ul>
                                <li>
                                    {% if links.schematics != '#' %}
                                    <a href="{{ site.s3url }}/schematics/{{ links.schematics }}" target="_blank" class="text-dark">Download PDF</a>
                                    {% else %}
                                    Download PDF (Coming Soon)
                                    {% endif %}
                                </li>
                            </ul>
                        </dd>
                        <dt>Bill of Materials:</dt>
                        <dd>
                            <ul>
                                <li>
                                    {% if links.bom != '#' %}
                                    <a href="{{ site.s3url }}/boms/{{ links.bom }}" target="_blank" class="text-dark">Download PDF</a>
                                    {% else %}
                                    Download PDF (Coming Soon)
                                    {% endif %}
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

</div>
