---
layout: default
---

<div id="product">
	
    <div class="container-fluid p-3">
        <div class="row p-3">
            <div class="col-sm-3 offset-sm-2">
                <img src="/img/{{ page.img }}" class="img-fluid d-block mx-auto">
            </div>
            <div class="col-sm-5">
                <h5 class="pomeranian">{{ page.name }}</h5>
                <p>
                    <span class="badge badge-pill badge-dark p-2 font-weight-normal">{{ page.level }}</span>
                    <span class="badge badge-pill badge-dark p-2 font-weight-normal">{{ page.type }}</span>
                    {% for tag in page.tags %}
                    <span class="badge badge-pill badge-dark p-2 font-weight-normal">{{ tag }}</span>
                    {% endfor %}
                    <span class="badge badge-pill badge-dark p-2 font-weight-normal">{{ page.status }}</span>
                </p>
                <div class="font-weight-light text-justify">{{ page.content | markdownify }}</div>
                <a class="btn btn-light border-dark rounded-pill" href="/store" role="button">
                    <span class="pomeranian"><small>Add To Cart</small></span>
                </a>
                <a class="btn btn-light border-dark rounded-pill" href="/store" role="button">
                    <span class="pomeranian"><small>Buy Now</small></span>
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid p-3 border-top border-bottom bg-light">
        <div class="row p-3">
            <div class="col-sm-5 offset-sm-2">
                <h5 class="pomeranian">Specifications</h5>
                <br>
                <div class="font-weight-light">
                    {% assign spec = site.specs | where: "kit", page.kit | first %}
                    {{ spec.content | markdownify }}
                </div>
            </div>
            <div class="col-sm-3">
                <img src="/img/{{ page.img }}" class="img-fluid d-block mx-auto">
            </div>
        </div>
    </div>
    <div class="container-fluid p-3">
        <div class="row p-3">
            <div class="col-sm-3 offset-sm-2">
                <img src="/img/{{ page.img }}" class="img-fluid d-block mx-auto">
            </div>
            <div class="col-sm-5">
                <h5 class="pomeranian">Box Contents</h5>
                <br>
                <div class="font-weight-light">
                    {% assign bom = site.boms | where: "kit", page.kit | first %}
                    {{ bom.content | markdownify }}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-3 border-top border-bottom bg-light">
        <div class="row p-3">
            <div class="col-sm-5 offset-sm-2">
                <h5 class="pomeranian">Kit Options</h5>
                <br>
                <div class="font-weight-light">
                    <ul>
                        {% assign options = site.parts | where: "gear", page.kit | sort: "type" %}
                        {% assign types = options | map: "type" | uniq %}
                        {% for type in types %}
                        <li>{{ type }}:</li>
                            <ul>
                                {% assign parts = options | where: "type", type | sort: "role" %}
                                {% for part in parts %}
                                {% assign partner = site.manufacturers | where: "short", part.manufacturer | first %}
                                <li>{{ part.role }}: <a href="{{ partner.url }}" class="text-dark">{{ part.manufacturer }}</a> - {{ part.name }}</li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <img src="/img/{{ page.img }}" class="img-fluid d-block mx-auto">
            </div>
        </div>
    </div>
    <div class="container-fluid p-3">
        <div class="row p-3">
            <div class="col-sm-3 offset-sm-2">
                <img src="/img/{{ page.img }}" class="img-fluid d-block mx-auto">
            </div>
            <div class="col-sm-5">
                <h5 class="pomeranian">Resources</h5>
                <br>
                <div class="font-weight-light">
                    <ul>
                        {% assign links = site.data.links[page.kit] %}
                        <li>Build Guide: <a href="{{ links.guide }}" class="text-dark">Download PDF</a></li>
                        <li>Circuit Diagram: <a href="{{ links.schematics }}" class="text-dark">Download PDF</a></li>
                        <li>Bill of Materials: <a href="{{ links.bom }}" class="text-dark">Download PDF</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
